@page "/"
@inject HttpClient Http
@if(Posts != null)
{
    @foreach(var post in Posts)
    {
        <h1>@post.Title</h1>
    }
}

@functions{
    List<Post> Posts{get;set;}

    protected override async Task OnInitAsync()
    {
        var response = await Http.GetJsonAsync<RedditResponse>("https://www.reddit.com/r/Art.json");
        Posts = response.Posts;        
    }
}
